[submodule "circomlib"]
	path = circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "circom-ecdsa"]
	path = circom-ecdsa
	url = https://github.com/0xPARC/circom-ecdsa.git
[submodule "umbra-protocol"]
	path = umbra-protocol
	url = https://github.com/hanzeG/umbra-protocol.git
